{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Mail" />

Render Powermail Mail to Sender
{powermail_rte}									Variable is filled with values from RTE in backend
{powermail_all}									Outputs all fields
{marker1}, {firstname}, etc.. 					Outputs a field
{label_marker1}, {label_firstname}, etc... 		Outputs a label to a field
{mail}											Complete Mail Object
{email}											Email Configuration
{settings}										TypoScript Settings
NOTE: See example section after main section

<f:section name="main">
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>HUMBAUR</title>
		<style type="text/css">
			html, body {
				padding:0;
				margin:0;
				font-family: Helvetica,Arial,sans-serif;
				font-size: 13px;
			}
			hr {
				border: none;
				border-bottom: 1px solid #dddddd;
			}
			h2 {
				font-size: 26px;
				border-bottom: 1px solid #000;
				padding: 10px 0;
				font-weight: normal;
			}
		</style>
	</head>
	<body>
		<table width="100%">
			<tr>
				<td valign="bottom">
					<vh:Misc.Variables mail="{mail}" type="mail" function="sender">
						<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{powermail_rte}</f:format.html>
					</vh:Misc.Variables>
				</td>
				<td valign="top"><img src="https://www.humbaur.com/fileadmin/templates/img/logo.png" width="140" height="64" alt="Humbaur GmbH" align="right"></td>
			</tr>
		</table>
	</body>
	</html>
</f:section>






THIS IS ONLY AN EXAMPLE SECTION

<f:section name="example">

	1. Get values from RTE from Backend:
	<vh:Misc.Variables mail="{mail}" type="mail" function="sender">
		<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{powermail_rte}</f:format.html>
	</vh:Misc.Variables>


	2. Get all Values by using powermail_all
	<vh:string.RawAndRemoveXss>
		{powermail_all}
	</vh:string.RawAndRemoveXss>

	3. Get some lonely fields
	Hi {firstname} {lastname}, this is a test...

</f:section>